################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CBN/Debug
/Debug
/Practice/Debug
/printable CBN assignments/Debug
/.vs/College Code/v15/Browse.VC.db
/.vs/College Code/v15/Browse.VC.opendb
/printable CBN assignments/x64/Debug
